<ion-header>
  <ion-navbar color="dark">
    <ion-title>Lista de filmes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="sair()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor='let f of lista | async'>
    <form #form="ngForm" (submit)="editar(form)">
      <ion-avatar center>

        <img [src]="f.foto" width="250px" height="250px">

      </ion-avatar>

      <!-- <button type="button" ion-button full color="danger" (click)="abrirGaleria()">
        <ion-icon name="folder" item-start></ion-icon>
        <span>Selecionar imagem</span>
      </button> -->

      <ion-item hidden>
        <ion-label text-wrap>ID: </ion-label>
        <ion-input type="text" [(ngModel)]="f.id" name="id"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label text-wrap>Nome: </ion-label>
        <ion-input type="text" [(ngModel)]="f.nome" name="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label text-wrap>Gênero: </ion-label>
        <ion-input type="text" [(ngModel)]="f.genero" name="genero"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Descrição</ion-label>
        <ion-input type="text" [(ngModel)]="f.descricao" name="descricao"></ion-input>
      </ion-item>

      <ion-item>
        <button ion-button color="secondary" block>Salvar</button>
      </ion-item>

    </form>
    <ion-item>
      <button ion-button color="dark" (click)="apagar(f.id)" block>
        <ion-icon name="trash" item-start></ion-icon>
        <span>Apagar</span>
      </button>
    </ion-item>

  </ion-card>

  <ion-fab bottom right>
    <button ion-fab color="dark" (click)="cadastrar()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

<ion-footer>
	<ion-row>

		<ion-col no-padding>
			<button no-margin ion-button full large clear>
        <!-- <ion-icon ios="ios-person" md="md-person" large color="dark"></ion-icon> -->
        <span>Filmes</span>
			</button>
    </ion-col>
    
		<ion-col no-padding>
			<button no-margin ion-button full large (click)="usuarios()" clear>
        <!-- <ion-icon name="log-out" large color="dark"></ion-icon> -->
        <span>Usuários</span>
			</button>
		</ion-col>

	</ion-row>
</ion-footer>