<ion-header>
	<ion-navbar color="dark">
		<ion-title>Meu Perfil</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<form #form="ngForm" (submit)="editar(form)">
		<ion-card>

			<ion-thumbnail item-start padding>
				<div *ngIf="imagemNova === null; else: novaFoto">
					<img [src]="f.foto" class="fotoPerfilNova" width="250px" height="250px">
				</div>

				<ng-template #novaFoto>
					<div>
						<img [src]="imagemNova" class="fotoPerfilNova" width="250px" height="250px">
					</div>
				</ng-template>
			</ion-thumbnail>
			<ion-fab top right no-padding color="dark">
				<button type="button" ion-fab color="danger">
					<ion-icon name="add"></ion-icon>
				</button>
				<ion-fab-list side="bottom">
					<button type="button" ion-fab color="secondary" (click)="abrirCamera()">
						<ion-icon name="camera"></ion-icon>
					</button>
				</ion-fab-list>

				<ion-fab-list side="left">
					<button type="button" ion-fab color="dark" (click)="abrirGaleria()">
						<ion-icon name="folder"></ion-icon>
					</button>
				</ion-fab-list>
			</ion-fab>
			<hr />

			<ion-item hidden>
				<ion-label>ID: </ion-label>
				<ion-input type="text" [(ngModel)]="f.id" name="id"></ion-input>
			</ion-item>

			<ion-item>
				<ion-label>Nome: </ion-label>
				<ion-input item-end type="text" [(ngModel)]="f.nome" name="nome" required text-wrap></ion-input>
			</ion-item>

			<ion-item>
				<ion-label>Sobrenome:</ion-label>
				<ion-input type="sobrenome" [(ngModel)]="f.sobrenome" name="sobrenome" required text-wrap></ion-input>
			</ion-item>

			<ion-item>
				<ion-label>Gênero</ion-label>
				<ion-select [(ngModel)]="f.genero" name="genero" required text-wrap>
					<ion-option value="Feminino">Feminino</ion-option>
					<ion-option value="Masculino">Masculino</ion-option>
					<ion-option value="Não Informar">Não Informar</ion-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-label>Data de Nascimento</ion-label>
				<ion-datetime displayFormat="DD / MMMM / YYYY " name="data" [(ngModel)]="f.data" monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
				 monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez" required></ion-datetime>
			</ion-item>



			<ion-item>
				<ion-label>Cidade</ion-label>
				<ion-select [(ngModel)]="f.cidade" name="cidade" required text-wrap>
					<ion-option value="Bady Bassit">Bady Bassit</ion-option>
					<ion-option value="Mirassol">Mirassol</ion-option>
					<ion-option value="São José do Rio Preto">São José do Rio Preto</ion-option>
				</ion-select>
			</ion-item>


			<ion-item>
				<ion-label>Descrição: </ion-label>
				<ion-input type="text" [(ngModel)]="f.descricao" name="descricao" required></ion-input>
			</ion-item>


			<ion-item>
				<p><strong>Categorias:</strong></p>
			</ion-item>

			<ion-item>
				<ion-label>Ação</ion-label>
				<ion-checkbox color="dark" readonly="true" checked name="acao" [(ngModel)]="f.acao"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Animação</ion-label>
				<ion-checkbox color="dark" readonly="true" checked name="animacao" [(ngModel)]="f.animacao"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Aventura</ion-label>
				<ion-checkbox color="dark" readonly="true" checked name="aventura" [(ngModel)]="f.aventura"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Biografia</ion-label>
				<ion-checkbox color="dark" readonly="true" checked name="biografia" [(ngModel)]="f.biografia"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Comédia</ion-label>
				<ion-checkbox color="dark" readonly="true" checked name="comedia" [(ngModel)]="f.comedia"></ion-checkbox>

			</ion-item>

			<ion-item>
				<ion-label>Comédia Romântica</ion-label>
				<ion-checkbox color="dark" readonly="true" checked name="cromantica" [(ngModel)]="f.cromantica"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Drama</ion-label>
				<ion-checkbox *ngIf="f.drama == true" color="dark" readonly="true" checked name="drama" [(ngModel)]="f.drama"></ion-checkbox>
				<ion-checkbox *ngIf="f.drama == false" color="dark" readonly="true" name="drama" [(ngModel)]="f.drama"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Fantasia</ion-label>
				<ion-checkbox color="dark" readonly="true" checked name="fantasia" [(ngModel)]="f.fantasia"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Ficção Científica</ion-label>
				<ion-checkbox color="dark" readonly="true" checked name="ficcao" [(ngModel)]="f.ficcao"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Romance</ion-label>
				<ion-checkbox color="dark" readonly="true" checked name="romance" [(ngModel)]="f.romance"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Suspense</ion-label>
				<ion-checkbox color="dark" readonly="true" checked name="suspense" [(ngModel)]="f.suspense"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Terror</ion-label>
				<ion-checkbox color="dark" readonly="true" checked name="terror" [(ngModel)]="f.terror"></ion-checkbox>
			</ion-item>
			<ion-item>

				<button ion-button color="primary" block large>
					<ion-icon name="create" padding></ion-icon>
					<h2 color="light">Atualizar meus Dados</h2>
				</button>

			</ion-item>



		</ion-card>


	</form>



</ion-content>

<ion-footer>
	<ion-row>

		<ion-col no-padding>
			<button no-margin ion-button full large (click)="encontrar()" clear>
				<ion-icon name="search" large color="dark"></ion-icon>
			</button>
		</ion-col>

		<ion-col no-padding>
			<button no-margin ion-button full large (click)="minhasMensagens()" clear>
				<ion-icon ios="ios-chatbubbles" md="md-chatbubbles" large color="dark"></ion-icon>
			</button>
		</ion-col>

		<ion-col no-padding>
			<button no-margin ion-button full large (click)="sair()" clear>
				<ion-icon name="log-out" large color="dark"></ion-icon>
			</button>
		</ion-col>

	</ion-row>
</ion-footer>