<ion-header>
  <ion-navbar color="dark">
    <ion-title>Lista de filmes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="sair()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

  <ion-content padding>
    <ion-list>
      <!-- <h2>{{currentUserId}}</h2> -->
      <ion-item *ngFor='let f of lista | async' [hidden]="(f.id === currentUserId || f.tipo === 'admin')">
        <ion-item>
          <ion-thumbnail item-start>
            <img [src]="f.foto">
          </ion-thumbnail>
  
          <h2>{{f.id}}</h2>
          <h1 text-wrap><strong>{{f.nome}}</strong></h1>
          <p text-wrap><strong>{{f.cidade}}</strong></p>
  
          <ion-grid no-padding style="margin-top:1em">
            <ion-row>
              <ion-col>
                <ion-icon name="thumbs-up" color="secondary">
                  <span>{{f.contadorPositivo}}</span>
                </ion-icon>
  
                <ion-icon name="thumbs-down" color="danger" style="margin-left:1em">
                  <span>{{f.contadorNegativo}}</span>
                </ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <hr />
      </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
	<ion-row>

		<ion-col no-padding>
			<button no-margin ion-button full large (click)="filmes()"  clear>
        <!-- <ion-icon ios="ios-person" md="md-person" large color="dark"></ion-icon> -->
        <span>Filmes</span>
			</button>
    </ion-col>
    
		<ion-col no-padding>
			<button no-margin ion-button full large clear>
        <!-- <ion-icon name="log-out" large color="dark"></ion-icon> -->
        <span>Usuários</span>
			</button>
		</ion-col>

	</ion-row>
</ion-footer>