<ion-header>

  <ion-navbar color="dark">
    <ion-title></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="classificar()">
        <ion-icon name="heart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list class="lista-mensagens" #scrollMe>
    <ion-item class="boxMensagem" *ngFor='let c of lista  | async' [hidden]="(c.idA !== currentUserId && c.idB !== currentUserId || c.idA !== this.id && c.idB !== this.id)"
      [class.minhaMensagem]="c.idA !== this.id" [class.mensagemRecebiba]="c.idB !== this.id">
      <br />
      <h2 text-wrap class="texto">{{c.mensagem}}</h2>
      <em class="dataTexto">{{c.data}}</em>
    </ion-item>
  </ion-list>


  <ion-row no-padding class="chat">
    <form #form="ngForm" class="enviar-form" (submit)="enviar(form)" name="form1">

      <ion-textarea textarea spellcheck="true" autoComplete="true" autocorrect="true" rows="2" cols="40" type="text"
        placeholder="digite sua mensagem" class="mensagem" ngModel name="mensagem" required clearInput="true"></ion-textarea>

      <button item-end ion-fab color="dark" round mini class="btenviar">
        <ion-icon ios="ios-send" md="md-send"></ion-icon>
      </button>
    </form>
  </ion-row>

</ion-content>

<ion-footer>

</ion-footer>