page-chat {

    .chat{
        // position: absolute;
        position: fixed;
        width: 92%;
        bottom: 0em;
    }

    .lista-mensagens{
        height: 77vh;
        overflow-y: scroll;
    }

    .enviar-form{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: white;
        padding-left: 10px;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #000;
    }

    // ion-textarea{
    //     // margin: auto;
    //     // padding: auto;
    // }

    // .mensagem{

    //     background-color: white;
    // }

    // .texto{
    //     margin-top: 0.7em;
    //     margin-left: 0.4em;
    // }

    button{
        margin: auto;
        padding: auto;
    }

    .boxMensagem{
        margin: 0;
        padding: 0;
    }

    .minhaMensagem{
        background-color: #696969;
        width: 50%;
        margin-left: 50%;
        color: whitesmoke;
        border-radius: 10%;
        margin-bottom: 2%;
        border: 2px solid black;
    }

    .mensagemRecebiba{
        background-color: royalblue;
        width: 50%;
        color: whitesmoke;
        border-radius: 10%; 
        margin-bottom: 2%;
        border: 2px solid black;
    }

    .texto{
        margin-top: -15px;
        margin-left: 5%;
    }

    .dataTexto{
        color: whitesmoke;
        font-size: 9px;
        margin-left: 40%;
        padding: 3%;
        margin-top: 10px;
    }
}
