<ion-header>

  <ion-navbar color="dark">
    <ion-title>Classificar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor='let f of pessoa | async'  class="fotoPerfilNova">
    <div>
        <img [src]="f.foto" width="250px" height="250px"/>
    </div>
    
    <ion-card-content center>

      <ion-card-title>Como está indo a conversa com <strong>{{f.nome}}</strong>?</ion-card-title>

      <ion-row>
        <ion-col col-6>
          <button ion-button large icon-start round outline (click)="votoPositivo(f.contadorPositivo)" class="botao" color="secondary">
            <ion-icon name="thumbs-up" color="secondary" style="margin-left:0.3em"></ion-icon>
          </button>
        </ion-col>

        <ion-col col-6>
          <button ion-button large icon-start round outline (click)="votoNegativo(f.contadorNegativo)" class="botao"
            color="danger">
            <ion-icon name="thumbs-down" color="danger" style="margin-left:0.3em"></ion-icon>
          </button>
        </ion-col>
      </ion-row>


    </ion-card-content>
  </ion-card>
</ion-content>