<ion-header>

</ion-header>
<ion-content align="center" padding background="danger" center>
	<ion-list>
		<br />
		<br />
		<img src="../../assets/imgs/Logo MovieUs.png" width="50%" height="100%" no-padding />
		<!-- <h2>MovieUs</h2> -->
		<!-- <img src="../../assets/imgs/logotipo.png"  no-padding /> -->

		<form #f="ngForm" (submit)="entrar(f)">
			<ion-item>
				<!-- <ion-label floating>E-mail</ion-label> -->
				<ion-input type="email" name="email" ngModel required placeholder="e-mail" class="loginDados margemInput"></ion-input>
			</ion-item>

			<ion-item>
				<!-- <ion-label floating>Senha</ion-label> -->
				<ion-input type="password" name="senha" ngModel required placeholder="senha" class="loginDados"></ion-input>
			</ion-item>

			<br />
			<div>
				<button ion-button block color="secondary" type="submit">Entrar</button>
			</div>
		</form>
	</ion-list>

	<h6 class="novo">Novo por aqui?</h6>

	<button ion-button block padding color="primary" (click)="cadastrar()">
		<ion-icon name=""></ion-icon>
		<ion-label text-align="center">Cadastrar</ion-label>
	</button>
	<h4 padding (click)="esqueciSenha()">Esqueci minha senha!</h4><br />
	<!-- <span class="texto-ou">ou</span>
	<ion-grid>
		<ion-row>
			<ion-col col-6>
				<button ion-button full padding>
					<ion-icon name="logo-facebook"></ion-icon>
					<ion-label>Facebook</ion-label>
				</button>
			</ion-col>

			<ion-col col-6>
				<button ion-button full padding color="danger">
					<ion-icon name="logo-googleplus"></ion-icon>
					<ion-label>Google</ion-label>
				</button>
			</ion-col>
		</ion-row>
	</ion-grid> -->



</ion-content>