page-home {
    .texto-ou{
        margin:8px auto 0;
        display: inline-block;
        position: relative;
        &::before, &::after{
            content: "";
            position: absolute;
            width: 120px;
            height: 1px;
            background: #999999;
            top: 50%;
            transform: translateY(-50%); 
        }
    &::before{
        left: -150px;
    }

    &:after{
        right: -150px;
    }

    }

    .item-md{
        padding-left:0;
    }

.loginDados input[type="email"],
.loginDados input[type="password"]{
        text-align: center;
        color: black;
    }

    .margemInput{
        margin-top: 5%
    }

    .novo{
        margin-top: 0;
    }


}
