<ion-header>

  <ion-navbar>
    <ion-title>Lembrete de senha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #f="ngForm" (submit)="recuperar(f)">
    <ion-list>
      <ion-item>
        <ion-label floating>insira o e-mail</ion-label>
        <ion-input type="email" name="email" ngModel class="loginDados"></ion-input>
      </ion-item><br />

      <button ion-button block color="secondary">enviar lembrete</button>
    </ion-list>
  </form>
</ion-content>


<ion-footer>

</ion-footer>