<ion-header>

  <ion-navbar color="dark">
    <ion-title>Encontre sua companhia!</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <!-- <h2>{{currentUserId}}</h2> -->
    <ion-item *ngFor='let f of lista | async' [hidden]="(f.id === currentUserId || f.tipo === 'admin')">
      <ion-item>
        <ion-thumbnail item-start>
          <img [src]="f.foto">
        </ion-thumbnail>

        <h2 hidden>{{f.id}}</h2>
        <h1 text-wrap><strong>{{f.nome}}</strong></h1>
        <p text-wrap><strong>{{f.cidade}}</strong></p>

        <ion-grid no-padding style="margin-top:1em">
          <ion-row>
            <ion-col>
              <ion-icon name="thumbs-up" color="secondary">
                <span>{{f.contadorPositivo}}</span>
              </ion-icon>

              <ion-icon name="thumbs-down" color="danger" style="margin-left:1em">
                <span>{{f.contadorNegativo}}</span>
              </ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <button ion-button (click)="verPessoa(f.id)" block color="primary">
          Quero conhecer
        </button>
      </ion-item>
      <hr />
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-row>

    <ion-col no-padding>
      <button no-margin ion-button full large (click)="perfil()" clear>
        <ion-icon ios="ios-person" md="md-person" large color="dark"></ion-icon>
      </button>
    </ion-col>

    <!-- <ion-col no-padding>
      <button no-margin ion-button full large (click)="minhasMensagens()" clear>
        <ion-icon name="chatboxes" large color="dark"></ion-icon>
      </button>
    </ion-col> -->

    <ion-col no-padding>
      <button no-margin ion-button full large (click)="sair()" clear>
        <ion-icon name="log-out" large color="dark"></ion-icon>
      </button>
    </ion-col>

  </ion-row>
</ion-footer>