<ion-header>
	<ion-navbar color="dark">
		<ion-title>Cadastrar</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<form #f="ngForm" (submit)="cadastrar(f)">
		<ion-list>
			<ion-thumbnail item-start padding>
				<img [src]="imagem" class="fotoPerfilNova"width="250px" height="250px">
			</ion-thumbnail>
			<ion-fab top right no-padding color="dark">
				<button type="button" ion-fab color="danger" width="250px" height="250px">
					<ion-icon name="add"></ion-icon>
				</button>
				<ion-fab-list side="bottom">
					<button type="button" ion-fab color="secondary" (click)="abrirCamera()">
						<ion-icon name="camera"></ion-icon>
					</button>
				</ion-fab-list>

				<ion-fab-list side="left">
					<button type="button" ion-fab color="dark" (click)="abrirGaleria()">
						<ion-icon name="folder"></ion-icon>
					</button>
				</ion-fab-list>
			</ion-fab>
			<hr />
			<ion-item>
				<ion-label floating>Nome</ion-label>
				<ion-input name="nome" type="text" ngModel required></ion-input>
			</ion-item>

			<ion-item>
				<ion-label floating>Sobrenome</ion-label>
				<ion-input name="sobrenome" type="text" ngModel required></ion-input>
			</ion-item>

			<ion-item>
				<ion-label floating>Gênero</ion-label>
				<ion-select [(ngModel)]="genero" name="genero" required>
					<ion-option value="Feminino">Feminino</ion-option>
					<ion-option value="Masculino">Masculino</ion-option>
					<ion-option value="Não Informar">Não Informar</ion-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-label floating>Data de Nascimento</ion-label>
				<ion-datetime displayFormat="DD / MMMM / YYYY " name="data" [(ngModel)]="data" monthNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
				 monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez" required></ion-datetime>
			</ion-item>

			<ion-item>
				<ion-label floating>Cidade</ion-label>
				<ion-select [(ngModel)]="cidade" name="cidade" required>
					<ion-option value="Bady Bassit">Bady Bassit</ion-option>
					<ion-option value="Mirassol">Mirassol</ion-option>
					<ion-option value="São José do Rio Preto">São José do Rio Preto</ion-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-label floating>Deixe uma descrição</ion-label>
				<ion-input type="text" name="descricao" ngModel required></ion-input>
			</ion-item>
			<br />

			<ion-item>
				<h4><strong>Selecione as categorias dos filmes:</strong></h4>
			</ion-item>
			<ion-item>
				<ion-label>Ação</ion-label>
				<ion-checkbox [(ngModel)]="acao" color="dark" name="acao" checked="false"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Animação</ion-label>
				<ion-checkbox [(ngModel)]="animacao" color="dark" name="animacao" checked="false"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Aventura</ion-label>
				<ion-checkbox [(ngModel)]="aventura" color="dark" name="aventura" checked="false"></ion-checkbox>
			</ion-item>

			<ion-item>

				<ion-label>Biografia</ion-label>
				<ion-checkbox [(ngModel)]="biografia" color="dark" name="biografia" checked="false"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Comédia</ion-label>
				<ion-checkbox [(ngModel)]="comedia" color="dark" name="comedia" checked="false"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Comédia Romântica</ion-label>
				<ion-checkbox [(ngModel)]="cromantica" color="dark" name="cromantica" checked="false"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Drama</ion-label>
				<ion-checkbox [(ngModel)]="drama" color="dark" name="drama" checked="false"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Fantasia</ion-label>
				<ion-checkbox [(ngModel)]="fantasia" color="dark" name="fantasia" checked="false"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Ficção Científica</ion-label>
				<ion-checkbox [(ngModel)]="ficcao" color="dark" name="ficcao" checked="false"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Romance</ion-label>
				<ion-checkbox [(ngModel)]="romance" color="dark" name="romance" checked="false"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Suspense</ion-label>
				<ion-checkbox [(ngModel)]="suspense" color="dark" name="suspense" checked="false"></ion-checkbox>
			</ion-item>

			<ion-item>
				<ion-label>Terror</ion-label>
				<ion-checkbox [(ngModel)]="terror" color="dark" name="terror" checked="false"></ion-checkbox>
			</ion-item>


			<ion-item>
				<ion-label floating>E-mail</ion-label>
				<ion-input type="email" name="email" ngModel required></ion-input>
			</ion-item>

			<ion-item>
				<ion-label floating>Senha</ion-label>
				<ion-input type="password" name="senha" ngModel required></ion-input>
			</ion-item>

			<!-- <ion-item>
				<ion-label floating>Repetir senha</ion-label>
				<ion-input type="password" name="repetirsenha" ngModel></ion-input>
			</ion-item> -->

			<ion-grid padding>
				<ion-row>
					<ion-col>
						<button ion-button color="danger" block>
							Tudo pronto!
						</button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-list>
	</form>
</ion-content>
<ion-footer>
</ion-footer>