<ion-header>
	<ion-navbar color="dark">
		<ion-title>Descrição</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-card *ngFor='let f of pessoa | async'>
		<ion-item>
			<img [src]="f.foto" class="fotoPerfilNova" width="250px" height="250px" />
		</ion-item>

		<ion-item>
			<h1 text-wrap hidden>{{f.id}}</h1>
			<h1>{{f.nome}}</h1>

			<h2>• {{f.genero}}</h2>

			<h2>• {{f.data | date: 'd/MM/yyyy'}}</h2>

			<h2>• {{f.cidade}}</h2>

			<h2 text-wrap>• Descrição: {{f.descricao}}</h2>

		</ion-item>

		<ion-item class="gostaram">
			<!-- <ion-icon name="thumbs-up" item-end color="secondary"></ion-icon> -->
			<ion-badge color="secondary">{{f.contadorPositivo}} gostaram de {{f.nome}}</ion-badge>
		</ion-item>
		<ion-item class="naoGostaram">
			<!-- <ion-icon name="thumbs-down" item-end color="danger"></ion-icon> -->
			<ion-badge color="danger">{{f.contadorNegativo}} não gostaram de {{f.nome}}</ion-badge>
		</ion-item>

		<hr style="height:2px; background-color:black;" />
		<em padding>Gosto dos filmes de:</em>
		<ion-item class="margem" [hidden]="f.acao === false">
			<ion-label>Ação</ion-label>
			<ion-checkbox color="secondary" disabled checked name="acao" [(ngModel)]="f.acao" [hidden]="f.acao === false"></ion-checkbox>
		</ion-item>

		<ion-item [hidden]="f.animacao === false">
			<ion-label>Animação</ion-label>
			<ion-checkbox color="secondary" disabled checked name="animacao" [(ngModel)]="f.animacao" [hidden]="f.animacao === false"></ion-checkbox>
		</ion-item>

		<ion-item [hidden]="f.aventura === false">
			<ion-label>Aventura</ion-label>
			<ion-checkbox color="secondary" disabled checked name="aventura" [(ngModel)]="f.aventura" [hidden]="f.aventura === false"></ion-checkbox>
		</ion-item>

		<ion-item [hidden]="f.biografia === false">
			<ion-label>Biografia</ion-label>
			<ion-checkbox color="secondary" disabled checked name="biografia" [(ngModel)]="f.biografia" [hidden]="f.biografia === false"></ion-checkbox>
		</ion-item>

		<ion-item [hidden]="f.comedia === false">
			<ion-label>Comédia</ion-label>
			<ion-checkbox color="secondary" disabled checked name="comedia" [(ngModel)]="f.comedia" [hidden]="f.comedia === false"></ion-checkbox>

		</ion-item>

		<ion-item [hidden]="f.cromantica === false">
			<ion-label>Comédia Romântica</ion-label>
			<ion-checkbox color="secondary" disabled checked name="cromantica" [(ngModel)]="f.cromantica" [hidden]="f.cromantica === false"></ion-checkbox>
		</ion-item>

		<ion-item [hidden]="f.drama === false">
			<ion-label>Drama</ion-label>
			<ion-checkbox color="secondary" disabled checked name="drama" [(ngModel)]="f.drama" [hidden]="f.drama === false"></ion-checkbox>
		</ion-item>

		<ion-item [hidden]="f.fantasia === false">
			<ion-label>Fantasia</ion-label>
			<ion-checkbox color="secondary" disabled checked name="fantasia" [(ngModel)]="f.fantasia" [hidden]="f.fantasia === false"></ion-checkbox>
		</ion-item>

		<ion-item [hidden]="f.ficcao === false">
			<ion-label>Ficção Científica</ion-label>
			<ion-checkbox color="secondary" disabled checked name="ficcao" [(ngModel)]="f.ficcao" [hidden]="f.ficcao === false"></ion-checkbox>
		</ion-item>

		<ion-item [hidden]="f.romance === false">
			<ion-label>Romance</ion-label>
			<ion-checkbox color="secondary" disabled checked name="romance" [(ngModel)]="f.romance" [hidden]="f.romance === false"></ion-checkbox>
		</ion-item>

		<ion-item [hidden]="f.suspense === false">
			<ion-label>Suspense</ion-label>
			<ion-checkbox color="secondary" disabled checked name="suspense" [(ngModel)]="f.suspense" [hidden]="f.suspense === false"></ion-checkbox>
		</ion-item>

		<ion-item [hidden]="f.terror === false">
			<ion-label>Terror</ion-label>
			<ion-checkbox color="secondary" disabled checked name="terror" [(ngModel)]="f.terror" [hidden]="f.terror === false"></ion-checkbox>
		</ion-item>


		<!-- <ion-item center> -->
		<button ion-button block color="primary" (click)="enviarMensagem(f.id)">
			<ion-label>Enviar mensagem</ion-label>
			<ion-icon name="send"></ion-icon>
		</button>
		<!-- </ion-item> -->


	</ion-card>

</ion-content>

<ion-footer>
	<ion-row>

		<ion-col no-padding>
			<button no-margin ion-button full large (click)="perfil()" clear>
				<ion-icon ios="ios-person" md="md-person" large color="dark"></ion-icon>
			</button>
		</ion-col>

		<!-- <ion-col no-padding>
			<button no-margin ion-button full large (click)="minhasMensagens()" clear>
				<ion-icon name="chatboxes" large color="dark"></ion-icon>
			</button>
		</ion-col> -->

		<ion-col no-padding>
			<button no-margin ion-button full large (click)="sair()" clear>
				<ion-icon name="log-out" large color="dark"></ion-icon>
			</button>
		</ion-col>

	</ion-row>
</ion-footer>