page-encontrar-pessoas {
    .fotoPerfilNova{
        border-radius: 8%;
        border: 3px solid black;
    }

    .gostaram{
        margin-left: 26%;
    }

    .naoGostaram{
        margin-left: 23%;
    }
    
    // ion-checkbox{
    //     $checkbox-ios-disabled-opacity: .10;
    //     $checkbox-md-disabled-opacity: NONE;
    // }

    .checkbox-md.checkbox-disabled, .item-md.item-checkbox-disabled ion-label{
    opacity: 0.8;
    pointer-events: none;
    }

    .class{
        padding: none;
    }
}
