<ion-header>

  <ion-navbar color="dark">
    <ion-title>Conversas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-button (click)="verConversa" *ngFor='let c of combinedList | async'>
      <ion-item>
        <img src=[c.foto] />
        <h3>{{c.id}}</h3>
        <h3>{{c.nome}}</h3>
        <h4>{{c.data}}</h4>
      </ion-item>
    </button>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-row>

    <ion-col no-padding>
      <button no-margin ion-button full large (click)="perfil()" clear>
        <ion-icon ios="ios-person" md="md-person" large color="dark"></ion-icon>
      </button>
    </ion-col>

    <ion-col no-padding>
      <button no-margin ion-button full large (click)="minhasMensagens()" clear hidden>
        <ion-icon ios="ios-chatbubbles" md="md-chatbubbles" large color="dark"></ion-icon>
      </button>
    </ion-col>

    <ion-col no-padding>
      <button no-margin ion-button full large (click)="sair()" clear>
        <ion-icon name="log-out" large color="dark"></ion-icon>
      </button>
    </ion-col>

  </ion-row>
</ion-footer>