<ion-header>
  <ion-navbar color="dark">
    <ion-title>MovieUs</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <h6 padding class="filmes"><strong>Filmes em cartaz:</strong></h6>
  <hr>
  <ion-list>
    <ion-item *ngFor='let f of lista | async'>
      <ion-thumbnail item-start>
        <img src={{f.foto}}>
      </ion-thumbnail>
      <h4 text-wrap><strong>{{f.nome}}</strong></h4>
      <p text-wrap>{{f.genero}}</p>
      <button ion-button round color="dark" (click)="descricao(f.descricao)">Descrição</button>

      <button ion-fab mini round color="light" item-end (click)="encontrar()">
        <ion-icon name="heart" color="danger"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-row>

    <ion-col no-padding>
      <button no-margin ion-button full large (click)="perfil()" clear>
        <ion-icon ios="ios-person" md="md-person" large color="dark"></ion-icon>
      </button>
    </ion-col>

    <!-- <ion-col no-padding>
      <button no-margin ion-button full large (click)="minhasMensagens()" clear>
        <ion-icon ios="ios-chatbubbles" md="md-chatbubbles" large color="dark"></ion-icon>
      </button>
    </ion-col> -->

    <ion-col no-padding>
      <button no-margin ion-button full large (click)="sair()" clear>
        <ion-icon name="log-out" large color="dark"></ion-icon>
      </button>
    </ion-col>

  </ion-row>
</ion-footer>