<ion-header>
  <ion-navbar color="dark">
    <ion-title>Cadastrar Filmes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (submit)="salvar(form)">
    <ion-list>
      <ion-item>
        <ion-thumbnail item-start>
          <img [src]="imagem">
        </ion-thumbnail>

        <button type="button" ion-fab color="dark" (click)="abrirGaleria()">
          <ion-icon name="folder"></ion-icon>
        </button>
      </ion-item>

      <ion-item>
        <ion-label floating>Nome:</ion-label>
        <ion-input type="text" name="nome" ngModel></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Gênero:</ion-label>
        <ion-input type="text" name="genero" ngModel></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Descrição:</ion-label>
        <ion-input type="text" name="descricao" ngModel></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button block color="dark">Salvar</button>

  </form>
</ion-content>